streamlit==1.32.0
langchain==0.1.14
langchain-community==0.0.27
langchain-groq==0.0.1
langchain-text-splitters==0.0.1

chromadb==0.5.0
sentence-transformers==2.6.1

docx2txt
pandas
tiktoken
python-dotenv
requests