streamlit==1.54.0
langchain==0.1.0
langchain-community==0.0.10
langchain-groq==0.0.1
langchain-core==0.1.53
langsmith==0.1.147
langchain-text-splitters==0.0.1
faiss-cpu==1.7.4
pypdf==6.7.2
python-docx==1.2.0
pandas==2.3.3
openpyxl==3.1.5
sentence-transformers==5.2.3
docx2txt==0.9